<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .vertical-buttons .btn {
            display: block;
            width: 100%;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="container vertical-buttons d-grid">
        <h1>Welcome to My Website</h1>
        <a class="btn btn-primary" href=" {% url "token_obtain_pair" %} ">JWT Obtain Pair</a>
        <a class="btn btn-primary" href=" {% url "token_refresh" %} ">Refresh JWT</a>
        <a class="btn btn-success">Create new user</a>
        <a class="btn btn-info">Get available dates for download</a>
        <a class="btn btn-warning">Get Non-downloaded dates list</a>
        <a class="btn btn-info">Get certain date data (CSV)</a>
        <a class="btn btn-danger">Delete certain date data</a>
        <a class="btn btn-info">Import file from URL for postponed parsing (excel)</a>
        <a class="btn btn-success">Start scraper for preloaded data</a>
    </div>
</body>
</html>
