{% extends 'base.html' %}

{% block content %}
<div class="container-sm mt-5">
    <h1 class="text-center mb-4">Welcome to Agroplant Parser</h1>

    <div class="mb-4">
        <h2>JWT Operations</h2>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <div class="col">
                <a class="btn btn-primary btn-block mb-3" href="{% url 'token_obtain_pair' %}">JWT Obtain Pair</a>
            </div>
            <div class="col">
                <a class="btn btn-primary btn-block mb-3" href="{% url 'token_refresh' %}">Refresh JWT</a>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <h2>Data Operations</h2>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <div class="col">
                <a class="btn btn-info btn-block mb-3">Download avail. dates</a>
            </div>
            <div class="col">
                <a class="btn btn-info btn-block mb-3">Get date data (CSV)</a>
            </div>
            <div class="col">
                <a class="btn btn-danger btn-block mb-3">Delete date data</a>
            </div>
            <div class="col">
                <a class="btn btn-warning btn-block mb-3">Get Non-downloaded dates list</a>
            </div>
        </div>
    </div>
    
    <div class="mb-4">
        <h2>Scraper Operations</h2>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <div class="col">
                <button id="start-scraper-btn" class="btn btn-success btn-block mb-3">Start Scraper for Preloaded Data</button>
            </div>
            <div class="col">
                <button id="stop-scraper-btn" class="btn btn-danger btn-block mb-3">Stop Scraper</button>
            </div>
            <div class="col">
                <a class="btn btn-info btn-block mb-3">Import File from URL for Postponed Parsing (Excel)</a>
            </div>
        </div>
    </div>
    
    <div class="mb-4">
        <h2>User Operations</h2>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <div class="col">
                <a class="btn btn-success btn-block mb-3" href="{% url 'register' %}">Create new user</a>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const startBtn = document.getElementById('start-scraper-btn');
    const stopBtn = document.getElementById('stop-scraper-btn');
    const startMessage = startBtn.innerText;
    const stopMessage = stopBtn.innerText;

    startBtn.addEventListener('click', function() {
        startBtn.innerText = 'Scraper Started';

        fetch("{% url 'start_scraper' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                startBtn.innerText = 'Scraper Started';
                setTimeout(() => {
                    startBtn.innerText = startMessage;
                }, 3); // Revert to initial message after 2 seconds
            } else {
                startBtn.innerText = data.error || 'Error starting scraper.';
            }
        })
        .catch(error => {
            startBtn.innerText = 'Error starting scraper: ' + error;
        });
    });

    stopBtn.addEventListener('click', function() {
        stopBtn.innerText = 'Stopping...';

        fetch("{% url 'stop_scraper' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                stopBtn.innerText = 'Scraper Stopped';
                setTimeout(() => {
                    stopBtn.innerText = stopMessage;
                }, 2000); // Revert to initial message after 2 seconds
            } else {
                stopBtn.innerText = data.error || 'Error stopping scraper.';
            }
        })
        .catch(error => {
            stopBtn.innerText = 'Error stopping scraper: ' + error;
        });
    });
});
</script>

{% endblock %}
